@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About - Business Casual - Start Bootstrap Theme</title>
    <!-- Bootstrap Core CSS -->
    @*<link href="css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/cssBizCas/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    @*<link href="css/business-casual.css" rel="stylesheet">*@
    <link href="~/Content/cssBizCas/business-casual.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        About
                        <strong>Tiny House B&B Cleveland</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img height="375" class="img-border-left" src="~/Images/map_of_cleveland_oh.jpg" alt=""/>
                </div>
                <div class="col-md-6">
                    <p>Tiny B&B Cleveland was founded in December of 2015 and based in Cleveland Ohio. Tiny B&B Cleveland is a unique community of people who love and enjoy tiny house life and want to share this simplified way of living with others.
                     This site makes it easy for you to list, discover, and book accommodations around Ohio — online or from a mobile phone or tablet.</p>
                    <p>Embracing tiny living can help you acheive financial and emotional freedom, and a greener lifestyle. Book your reservation today and begin your journey to a richer and more fufilling life. </p>
                    <p></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Our
                        <strong>Founder</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6 text-center">
                    <img height="250" src="~/Images/Profile.jpg" alt=""/>
                    <h3>
                        Tenecia A. Guinea
                        <small>CEO</small>
                    </h3>
                </div>
                <div class="col-md-6">
                    <p>Tenecia is the CEO at Tiny House B&B. She drives the company's vision, strategy and growth as it provides interesting ways for people to explore their curiosity for tiny house living. Tiny House B&B strives to enhance the lives of its users and provide them with the inspiration for an alternate way of living, promoting fiinancial and emotional freedom from our typical day to day lifestyles. Tiny House B&B was created out of a love for living more simply and wanting to share that with others. Tenecia received her knowledge of Web Design from We Can Code It, Cleveland Ohio in 2015, and her Bachelor's of Arts in Communication Management from Cleveland State University.</p>                </div>
                @*<div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>
                        John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>
                        John Smith
                        <small>Job Title</small>
                    </h3>
                </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
